<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Create new PetOwner</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" style="height: 60px">
        <div class="collapse navbar-collapse justify-content-md-center" >
            <ul class="navbar-nav " >
                <li class="nav-item active">
                    <a class="navbar-brand" routerLink="" >
                        <h1 style="color: black">Pet Clinic</h1>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list-petowners" >Owners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list-veterinarians" >Veterinarians</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" >Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="background: black; height: 13px"> </div>
</header>


<h1>{{#add}}Create new PetOwner:{{/add}}</h1>
<a href="/list-petowners">Back to PetOwner's List</a>
<div class="row mb-5 d-flex ml-5" style="font-family: Montserrat">
    <br/><br/>
{{#petowner}}
        <form action="{{#add}}/add-petowner{{/add}}" name="user" method="POST">
            <br>
            <div class="mb-3">
                <input type="text" name="name" value="{{#name}}{{name}}{{/name}}" />
            </div>
            <div class="mb-3">
                <input type="text" name="email" value="{{#email}}{{email}}{{/email}}" />
            </div>
            <div class="mb-3">
                <input type="text" name="phone" value="{{#phone}}{{phone}}{{/phone}}" />            </div>
            <input type="submit" value="{{#add}}Create{{/add}}" />
        </form>
{{/petowner}}
</div>
</div>
</div>
<br/>
<div class="error">{{#errorMessage}}{{errorMessage}}{{/errorMessage}}</div>
</body>
</html>
