<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Create new PetOwner</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>{{#add}}Create new PetOwner:{{/add}}</h1>
<a href="/list-petowners">Back to PetOwner's List</a>
<br/><br/>
{{#petowner}}
    <form action="{{#add}}/add-petowner{{/add}}" name="user" method="POST">
        <table border="0">
            {{#id}}
                <tr>
                    <td>ID</td>
                    <td>:</td>
                    <td>{{id}}</td>
                </tr>
            {{/id}}
            <tr>
                <td>Name</td>
                <td>:</td>
                <td><input type="text" name="name" value="{{#name}}{{name}}{{/name}}" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td><input type="text" name="email" value="{{#email}}{{email}}{{/email}}" /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>:</td>
                <td><input type="text" name="phone" value="{{#phone}}{{phone}}{{/phone}}" /></td>
            </tr>
        </table>
        <input type="submit" value="{{#add}}Create{{/add}}" />
    </form>
{{/petowner}}

<br/>
<div class="error">{{#errorMessage}}{{errorMessage}}{{/errorMessage}}</div>
</body>
</html>
