<!DOCTYPE HTML>
<html>
<head>
    <title>Pet-clinic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/login">Login page</a>
<a href="/reg">Registration page</a>
<a href="/list-petowners">List of Petowners</a>
</body>
</html>
