<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        .navbar-dark .nav-item:hover .nav-link {
            color: green;
        }
        .navbar-dark .nav-item .nav-link{
            color: black;
            padding-left: 30px;
            font-weight: bold;
            margin-top: 13px;
            font-size: 19px;
            font-family: Montserrat;
        }

    </style>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" style="height: 60px">
        <div class="collapse navbar-collapse justify-content-md-center" >
            <ul class="navbar-nav " >
                <li class="nav-item active">
                    <a class="navbar-brand" routerLink="" >
                        <h1 style="color: black">Pet Clinic</h1>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list-petowners" >Owners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list-veterinarians" >Veterinarians</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" >Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="background: black; height: 13px"> </div>
</header>

<div class="container" style="margin: 0 auto">
    <div class="row">
        <div class="col-md-auto">
            <div>
            </div>
            <br/><br/>
            <div>
                <table class="table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Cab NO</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#veterinarians}}
                        <tr>
                            <td><a href="/veterinarians/{{vet_id}}">{{vet_id}}</a></td>
                            <td><a href="/veterinarians/{{vet_id}}">{{fullname}}</a></td>
                            <td><a href="/veterinarians/{{vet_id}}">{{cab_no}}</a></td>
                        </tr>
                    {{/veterinarians}}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
</body>
</html>
