<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Registration</title>
</head>
<body>
<p>Registration page</p>

<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <br>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <br>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <br>
    <div><input type="submit" value="Sign Up"/></div>
</form>
</body>
</html>
